services:
  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      DATABASE_NAME: "mi_db"
      DATABASE_USER: "mi_usuario"
      DATABASE_PASSWORD: "mi_password"
      DATABASE_HOST: "db"
      DATABASE_PORT: "5432"
      SECRET_KEY: 'django-insecure-kje)0pkbbfljcb$gq(tbwrqxbzcunckck5c%iaz1wb5u_d7wjs'
      EMAIL_HOST_PASSWORD: 'yrft ipff ofoh ohbo'
      DB_URL: "postgresql://adminpg:WpM3lNKtxFH3L1fUBJI2XmZoRFdk8tDs@dpg-d44nr2euk2gs73fiqa30-a.oregon-postgres.render.com/dbdb_t7qp"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - devnetwork
    command: >
      sh -c "
        python manage.py makemigrations &&
        python manage.py migrate &&
        python manage.py shell < fixtures.py &&
        python manage.py runserver 0.0.0.0:8000
      "

  db:
    image: ankane/pgvector:latest
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: mi_db
      POSTGRES_USER: mi_usuario
      POSTGRES_PASSWORD: mi_password
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init_db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "mi_usuario", "-d", "mi_db"]
      interval: 3s
      timeout: 3s
      retries: 5
      start_period: 3s
    networks:
      - devnetwork

volumes:
  db_data:

networks:
  devnetwork:
    external: true